body {
    margin: 0px;
}

/* CABEÇALHO */
header {
    background: rgba(78, 78, 78, 0.075);
    box-shadow: 0px 0px 10px 0px ;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.H-Content {
    justify-content: space-between;
    align-items: center;
    padding: 10px 7%;
    display: flex;
}

/* FONTES */
a {
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease; 
    color: rgba(236, 235, 235, 1);
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin: 0px 30px;
    font-size: 15px;
}

a:hover {
    transform: scale(1.05);
}

h1 {
    background: linear-gradient(to left, rgb(44, 44, 44), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-weight: 600;
    font-size: 60px;
    margin: 0px;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 0px;
}

/* PARTE PRETA */
#S-Back {
    background-color: black;
}

#S-Back2{
    background-color: rgb(255, 0, 0);
}

#S-Content {
    justify-content: space-between;
    margin: 0px 0px 0px 7%;
    align-items: center;
    padding-top: 50px;
    display: flex;
}

#SB-Img {
    width: 60%;
    text-align: right;
}

#S-Text {
    text-align: left;
}

#S-Btn {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.26), rgba(95, 95, 95, 0.096));
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease; 
    border-radius: 20px;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    border: 0;
}

#S-Btn:hover {
    transform: scale(1.05);
}

